<div class="container-fluid pt-5">
  <div class="m-5"></div>
  <div class="row">
    <h2 class="m-3">MOVIES LIST</h2>
  </div>
</div>

<div class="row">
  <div class="col-12 text-center">
    <a href="/movies/new" class="btn btn-primary col-4 mb-5 p-3 .offset-4 mx-auto">ADD MOVIE</a>
  </div>
  <div class="col-12 card-group justify-content-center">
    {{#each movies as |movie|}}
      <div class="card-deck text-center m-4 col-sm-2 shadow align-content-center">
          <img src="{{ movie.cover }}" class="card-img-top h-50" alt=" {{ movie.title }} cover">
        <div class="card-body">
          <h4 class="card-title"><a href="/movies/{{ movie.id }}">{{ movie.title }}</a></h4>
          <div class="row justify-content-around">
            <a href="/movies/{{ movie.id }}/edit" class="btn btn-info col-4 .offset-1">Edit</a>
              <form action="/movies/{{ movie.id }}/delete" method="POST" class="col-4 .offset-1 p-0">
                <button class="btn btn-danger w-100" type="submit">Delete</button>
              </form>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>