
<div class="container-fluid pt-5">
  <div class="m-5"></div>
  <div class="row">
    <h2 class="m-3">MOVIE DETAILS</h2>
  </div>
</div>

<div class="container details">
  <div class="media row">
    <img src="{{ movie.cover }}" class="align-self-center mr-3 col-4" alt="...">
    <div class="media-body col-8">
      <div class="mt-0 row py-4">
        <label class="col-3">Title: </label>
        <span class="col-9">{{ movie.title }}</span>
      </div>
      <div class="row py-4">
        <label class="col-3">Genre: </label>
        <span class="col-9">{{ movie.genre }}</span>
      </div>
      <div class="row mb-0 py-4">
        <label class="col-3">Plot: </label>
        <span class="col-9">{{ movie.plot }}</span>
      </div>
      <div class="row mb-0 py-4">
        <label class="col-3">Star: </label>
        <span><a href="/celebrities/{{ celebrity.id }}" class="col-9">{{ celebrity.name }}</a></span>
      </div>    
    </div>
  </div>
  <div class="row justify-content-around">
    <a class="my-5 font-weight-bold text-right btn btn-secondary" href="/celebrities">Back to celebrities list</a>
    <a class="my-5 font-weight-bold text-right btn btn-secondary" href="/movies">Back to movies list</a>
  </div>
</div>